* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    background: #7C5E99;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 10px solid #000;
    position: fixed;
    width: 100vw;
    height: 80px;
}

.header ul {
    display: flex;
}

.header a {
    display: block;
    padding: 10px;
    color: white;
}

.header li a::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #F25A70;
    margin-right: 10px;
}

.header button {
    background: #F25A70;
    color: white;
    font-family: 'Raleway', sans-serif;
    border: none;
    margin-right: 20px;
    font-size: 1em;
}

.header button a {
    box-shadow: 5px 5px black;
}

/* Home */

.home {
    background-image: url(../img/code.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.home .content {
    width: 788px;
    height: 200px;
    background-color: #3A4042;
    text-align: center;
    box-shadow: 10px 10px black;
    font-family: 'Revalia', cursive;
    
}
.home h1 {
    color: #F25A70;
    font-size: 2.5em;
    margin-top: 50px;
    text-shadow: 4px 4px 0px #000000;
}
.home h2 {
    padding-top: 20px;
    text-shadow: 4px 4px 0px #000000;
}

.btn {
    padding-top: 60px;
}

.btn a {
    background: #F25A70;
    padding: 20px;
    color: white;
    text-decoration: none;
    margin-right: 50px;
    box-shadow: 5px 5px black;
}

@media only screen and (max-width: 830px) {
    .home .content {
        width: 700px;
    }
}

@media only screen and (max-width: 730px) {
    .home .content {
        width: 600px;
    }
}

@media only screen and (max-width: 630px) {
    .home .content {
        width: 550px;
    }
}